@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro > h1 {
  margin: 1.5rem 0;
  font-size: 5rem;
}
